# OS / editor
.DS_Store
.vscode/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# R
.Rhistory
.RData
*.Rproj
.Rproj.user/
*_cache/
*.knit.md

# Environments
.env
.venv/
venv/
env/
.conda/
.mamba/

# Snakemake
.snakemake/
logs/

# Raw data and heavy intermediates
data/raw/
data/sra/
data/tmp/
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.bai

# Host reference and BWA index files
resources/host/human/

# Results: ignore intermediates, keep final deliverables
results/qc/fastp/*.html
results/qc/fastp/*.json
results/taxonomy/kraken2/*.report.txt
results/taxonomy/kraken2/*.kraken.txt
results/taxonomy/bracken/*.G.bracken.tsv
results/taxonomy/bracken/*.S.bracken.tsv
results/taxonomy/bracken/*.G.bracken.report
results/taxonomy/bracken/*.S.bracken.report
results/taxonomy/merged/*_counts.tsv
results/summary/*.tsv
results/sars_cov2/


# Misc
*.log
notes.md
takehome_notebook_outline.md
